html,
body {
	height: 100%;
	margin: 0;
}

.apametsa-container {
	min-width: 1062px;
	min-height: 701px;
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.apametsa-map {
	width: 1062px;
	height: 701px;
	position: relative;
}

.apametsa-map-marker {
	position: absolute;
	width: 100px;
	z-index: 1;
}

.apametsa-map-marker:hover,
.apametsa-map-marker:active {
	z-index: 2;
}

.apametsa-map-marker:hover .apametsa-map-marker-title {
	z-index: 2;
	display: block;
}

.apametsa-map-marker:active .apametsa-map-marker-title {
	z-index: 2;
	display: block;
}

.apametsa-map-marker.is-active .apametsa-map-marker-title {
	display: block !important;
}

.apametsa-map-marker img {
	margin: 0 auto;
	display: block;
	cursor: pointer;
}

.apametsa-map-marker-title {
	display: flex;
	justify-content: center;
	margin-top: 15px;
	font-size: 12px;
	/* display: none; */
	padding: 2px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}

.apametsa-map-marker-title span {
	background: #fff;
	display: block;
	text-align: center;
}

.apametsa-map-marker-icon-rimi {
	width: 36px;
}

.apametsa-map-marker-icon-selver {
	width: 30px;
}

.apametsa-map-marker-icon-prisma {
	width: 28px;
}

.apametsa-map-marker-icon-citycon {
	width: 28px;
}

.apametsa-map-marker-icon-maxima {
	width: 50px;
}

.apametsa-map-marker-icon-bauhaus {
	width: 24px;
}

.apametsa-map-marker-icon-krauta {
	width: 70px;
}

.apametsa-map-marker-icon-resto {
	width: 20px;
}

.apametsa-map-marker-icon-beach {
	width: 20px;
}

.apametsa-map-marker-icon-port {
	width: 20px;
}
